.objectFullImageContainer{
    width: auto;
    min-width: 0;
    margin:0;
}

.objectFullImageContainer img{
    margin-right:20px;
    margin-bottom:10px;
}


/* fix lookup field dropdown detaching from input , set to auto in base.css */
html, body {
    overflow: visible !important;
}


.objectFullText{
    overflow: auto; /*libis: prevent text beneath image on search result page. */
}

.ui-autocomplete{
    position: relative;
    max-width: fit-content;
}

/* easier dimensions separation */
.dimensions .dimensions_separator:first-child{
    display: none;
}

/* doesn't let the optionbox float in higher folds */
#searchOptionsBox, .relatedListSearchOptionsBox {
    position:fixed;
}

/* form field tooltips, in compbination with displayHelpers.php */
.tooltipFormat {
    width:  25% !important;
    max-width: 800px !important;
    overflow:auto;
}



/* make quickaddheader a bit more responsive */
div.quickAddDialogHeader{
    position:relative;
    width:100%;
}

.caRelationQuickAddPanel{
    width:93vw;
    max-width:900px;
}

@media screen and (max-width: 700px) {
    .quickAddDialogHeader div{
        float:right !important;
        margin-bottom:5px;
        margin-right:10px;
    }
    .quickAddDialogHeader .quickAddTypeList {
        float:none !important;
        margin-left:10px;

    }
}




/* quick-fix items behind footer */
form#WatchedItemsListForm table#caItemList {
    margin-bottom: 100px;
}


.tag {
    background: #1ab3c8;
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 10px;
    padding-right:11px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right:20px;
    margin-left:10px;
    text-decoration: none;
}

.tag:hover {
    background-color: #739fe4;
}

.tag:before {
    background: #fff;
    width: 10px;
    height: 10px;
    content: "";
    display: inline-block;
    border-radius: 20px;
    margin: 0 5px 0 0;
}

.tag:after {
    display: inline-block;
    border: 16px solid;
    border-color: transparent transparent transparent #1ab3c8;
    height: 0;
    width: 0;
    position: absolute;
    right: -32px;
    top: 0;
    content: "";
    display: inline-block;
}


.tag:hover:after {
    border-color: transparent transparent transparent #739fe4;
}

.caInformationServiceDetail{
    padding:8px;
}
.caInformationServiceDetail .label{
    font-weight:bolder;
}
.col_taxonomy{
    display:inline-block;
    margin:2px;
    margin-right:10px;
}


#leftNav h2{
	word-break: break-word;
}


#leftNav h2 a.sf-menu-selected{
	height:auto;
}

/* easier dimensions separation */
.dimensions .dimensions_separator:first-child{
    display: none;
}


.caItemListSortControls {
    display: none;

    padding: 3px 5px 5px 5px;
    background-color: #fff;

    border: 1px solid #e6e6e6;
}

.caAnnoEditorPanel {			/* full-window panel */
    border: 2px solid #999999;
}

/*
.find_results_container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
}
.find_results_container div a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
*/


/* doesn't let the optionbox float in higher folds */
#searchOptionsBox, .relatedListSearchOptionsBox {
    position:fixed;
}

/* form field tooltips, in compbination with displayHelpers.php */
.tooltipFormat {
    width:  25%px !important;
    max-width: 800px !important;
    overflow:auto;
}

/*
#logo img{
    height:40px;
}
*/

/* visually separate repeating containers a little bit */
.bundleContainer div.repeatingItem:nth-child(even) {
    /* background-color: #f2f2f2; */
    /*border-left: 5px solid #f2f2f2;*/
}


#summary .heading {
    vertical-align: top;
}



/* hide quick search results with zero resultset */
.quickSearchNoResults {     display: none; }
